.App {
    display: grid;
    margin: 50px;
    min-height: calc(100vh - 80px);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .left {
    background-color: darkslategray;
    color: azure;
  }
  
  .right {
    background-color: wheat;
    color: firebrick;
  }

  .wrap{
    display: flex;
    width: 100%;
  }