.App {
    display: flex;
    margin: 10px;
    min-height: calc(100vh - 80px);
  }
  
  .left {
    background-color: darkslategray;
    color: azure;
  }
  
  .right {
    background-color: wheat;
    color: firebrick;
  }

  .wrap{
    display: flex;
    width: 25%;
    margin-left: 2%;
    margin-right: 2%;
  }